cpr:            "1234567890"
password:       "password"
activation:     "activation"
to:             "user@host"
from:           "\"%s\" <no-reply-eboks@host>"
server:         "localhost"
backend:        "smtp"